body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position-x: center;
    background-position-y: auto;
    background-color: rgb(59, 37, 49);
}
a {
    color:rgb(241, 189, 224);
}

.ghost {
    opacity:0.3;
    position: absolute;
    top:0px;
    left:50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

main {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding:20px
}

.gallery {
    width:85%;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    position:relative;
    margin:auto;
    gap:5px;
    transition-duration: 0.2s;
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 15px black;
    margin-bottom: 50px;
}

.gallery:hover {
    align-items: flex-start;
}

.gallery a {
    height:350px;
    width:auto;
    align-self: center;
    justify-self: center;
    transition-duration: 0.2s;
}

.gallery a:hover{
    display:block;
    transform:scale(105%);
    box-shadow: 0px 0px 25px black, 0px 0px 10px black;
    z-index: 2;
}

.gallery img {
    width:100%;
    height:100%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery video {
    width:100%;
    height:100%;
}