body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(59, 37, 49);
    background-size: cover;
    background-position-x: center;
    background-position-y: auto;
}

.container {
    background-color: rgb(85, 47, 68);
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    /* vertical-align: middle; */
}

#display {
    display: block;
    /* padding:0px; */
    margin:auto;
    max-height:50vh;
    max-width:90vw;
}

.src {
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(59, 37, 49);
    border: 5px solid rgb(241, 189, 224);
    color: rgb(241, 189, 224);
    font-family: 'Courier New', Courier, monospace;
}
.src p {
    padding:5px;
    margin:auto;
    font-size: x-large;
}
.src:hover {
    background-color: rgb(46, 22, 35);
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-size: large;
    padding:15px;
}

ul {
    list-style-type: none;
    margin:auto;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-width: 25vw;
}

li {
    display: inline;
    padding:5px;
}

li a {
    color:rgb(241, 189, 224);
    font-family: "Inter", sans-serif;
}